.collection-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 250px;
  align-items: center;
  position: relative;

  .image {
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    position: relative;

    .sold {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      width: 100%;
      height: 100%;
      transition: 0.5s ease;
      color: white;
      text-align: center;
      opacity: 1;

      .center {
        margin: auto;
        width: 50%;
        padding-top: 50%;
      }
    }
  }
  .thumbs-up-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15%;
    left: 15%;
  }

  .thumbs-up-container {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 70%;
    border-radius: 2px;
  }

  .container-red {
    background-color: rgb(255, 35, 0);
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
  }

  .collection-footer {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    .desc {
      width: 90%;
      font-size: 10px;
    }
    .price {
      width: 90%;
      font-weight: 700;
    }
  }
}
